<style>
  .third { width: 33.3%; float: left; column-gap:100px; }
   h5 { display: inline }
   .card:hover {box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);}
   .card {margin:0 0 0 20px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;border-radius: 5px;bottom-margin:10px}
   img {border-radius: 5px 5px 0 0;}
   .extra_content{max-width:100%;min-height:0!important;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;border-top:1px solid rgba(0,0,0,.05)!important;position:static;background:0 0;width:auto;margin:0;padding:.75em 1em;top:0;left:0;color:rgba(0,0,0,.87);box-shadow:none;-webkit-transition:color .1s ease;transition:color .1s ease}
   .ui_basic_label{width:33.3%;background:#FFF;border:1px solid rgba(34,36,38,.15);color:rgba(0,0,0,.87);box-shadow:none}
   .ui_basic_label:hover{text-decoration:none;background:#FFF;color:#1e70bf;box-shadow:1px solid rgba(34,36,38,.15);box-shadow:none}
   .ui_bottom_attached_button{position:auto;left:0;bottom:100%;width:100%}
 </style>

 <section id="projects">
  <div class="container center-align">
    <h4>
      <strong><u><span style="font-weight: bold">Projects</span></u></strong>
    </h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
        <div class="third">
        <h5>
          <div class="card">
          <strong>
            <a href="https://github.com/SaiLikhith7/covid19-by-sailikhithk"><img src="./img/covid19.png" alt="Avatar" style="width:100%;height:300px;">
              <i class="fab fa-github"></i>&nbsp;&nbsp;<b>COVID 19 dashboard by Sai Likhith K</b>
          <p>Website built to showcase not only statistics but also analytics built out of coronav virus effect on entire globe. <i>Written in CSS, Javascript, Type script </i></p>
           </a>
        </strong>
        <div class="extra_content">
          <div class="ui_mini_labels">
              <div class="ui_basic_label">covid19</div>
              <div class="ui_basic_label">Javascript</div>
          </div>
        </div>
            <a class="ui_bottom_attached_button" href="https://github.com/SaiLikhith7/covid19-by-sailikhithk/blob/master/README.md">Read More</a>
      </div>
    </h5>
    </div>
    <div class="third">
      <h5>
        <div class="card">
          <strong>
                <a href="https://github.com/SaiLikhith7/HackNYU-2020"><img src="./img/Hacknyu.png" alt="Avatar" style="width:100%;height:300px;">
                  <i class="fab fa-github"></i>&nbsp;&nbsp;<b>Hack NYU - An Artificial assistant for Visually Challenged people</b>
           <p>Web Application to help visually impaired using Computer Vision and NLP APIs <i>Written in Python, Javascript</i></p>
           </a>
           </strong>
          </div>

      </h5>
    </div>
    <div class="third">
      <h5>
        <div class="card">
          <strong>
          <a href="https://github.com/SaiLikhith7/Google-Hashcode-2020-qualification-round"><img src="./img/Google.jpg" alt="hashcode" style="width:100%;height:300px;">
                      <i class="fab fa-github"></i>&nbsp;&nbsp;<b>Google Hashcode 2020</b>
         <p>Piazza problem- Hackathon conducted by Google <i>Written in Python</i></p></a>
           </strong>
           </div>

      </h5>
    </div>
    </div>
  <div class="row">
    <div class="third">
      <h5>
      <strong>
        <div class="card">
          <a href="https://github.com/SaiLikhith7/CSGY-6513-Big-Data-Project-Analysis-of-NYC-Open-Data"><img src="./img/nyc.jpg" alt="nyc open data" style="width:100%;height:300px"><i class="fab fa-github"></i>&nbsp;&nbsp;<b>NYC Open Data Analysis and Visualization</b>
          <p>Academic project on NYC Taxi Data profiling and analysis of datasets</p></a>

          </div>
          </strong>

      </h5>
    </div>
    <div class="third">
      <h5>
    <strong>
        <div class="card">
          <a href="https://github.com/SaiLikhith7/NYC_Open_Data-Map-Reduce-and-Pyspark"><img src="./img/images.jpg" alt="spark" style="width:100%;height:300px"><i class="fab fa-github"></i>&nbsp;&nbsp;<b>Pyspark Map Reduce for NYC Open Data</b>
          <p>This project has the Map Reduce for NYC Open Data, written in Pyspark</p></a>
          </div>
          </strong>

      </h5>
    </div>
    </div>
  </div>
  </div>
</section>
